* {
  margin: 0;
  background-color: #f0f4f9;
}
#box {
  margin: 0 auto;
  align-items: center;
  justify-content: center;
  margin-top: 7%;
  width: 80%;
  max-width: 950px;
}
#main {
  display: flex;
  margin: 0 auto;
  padding: 40px;
  height: 330px;
  background-color: white;
  border-radius: 27px;
}
#main * {
  background-color: white;
}
#left {
  width: 50%;
}
#left > img {
  width: 47px;
  height: 47px;
}
#left > #text {
  font-size: 35px;
  padding-top: 15px;
  padding-bottom: 20px;
}
#right {
  width: 50%;
}
#right > #user > input {
  width: 100%;
  border-radius: 5px;
  border-width: 1px;
  line-height: 50px;
  font-size: 17px;
  margin: 70px 0 10px 0;
  padding-left: 15px;
}
#right > a,
#right > #guest > a {
  text-decoration: none;
  color: #0b5fd3;
  font-size: 14px;
  font-weight: 500;
}

#right > #guest {
  margin-top: 40px;
  padding: 3px;
  font-size: 14px;
  font-weight: 350;
}
#right > #button {
  align-items: end;
  margin-top: 40px;
  text-align: right;
}
#right > #button > button {
  line-height: 35px;
  border-radius: 20px;
  border: none;
  cursor: pointer;
}
#right > #button > button:nth-child(1) {
  width: 95px;
  margin-right: 20px;
  color: #0b57d0;
  font-weight: 600;
}
#right > #button > button:nth-child(1):hover {
  border: none;
  background-color: #f5f8fd;
}
#right > #button > button:nth-child(2) {
  width: 70px;
  background-color: #0b57d0;
  color: white;
  font-weight: 600;
}
#footer {
  margin-top: 18px;
}
#footer > select {
  cursor: pointer;
  padding-right: 100px;
  border: none;
}
#footer > a {
  text-decoration: none;
  color: black;
  margin-left: 10px;
  font-size: 12px;
  padding: 8px;
  float: right;
}
#footer > a:hover {
  background-color: #e2e7eb;
  border-radius: 10px;
}
